Django
djangorestframework
celery
django-oauth-toolkit
django-allauth
django-rest-auth
django-allauth-social-token
openai
python-dotenv
django-celery-results
redis
psycopg2-binary
openai
gunicorn
django-storages
boto3
pycurl