django
djangorestframework
django-filter
drf-yasg
django-cors-headers
djangorestframework-simplejwt
django-rest-passwordreset
rest-social-auth
channels
celery
redis
psycopg2-binary
openai
sentry-sdk
gunicorn
django-storages
easy-thumbnails
django-activity-stream
python-dotenv
boto3
pycurl